{% extends 'main.html' %}

{% block maincol %}
<div class="col_left">
    <div data-region="blocks-left">
      <div class="profile-bar">
          <h2 class="card-title">Hello {{request.user|title}}</h2>
      </div>
      <div class="card-body">
          <div class="card-profile">
              {% include 'profile/profile.html' %}
          </div>
      </div>
    </div>
  </div>

<div class="maincol">
    <div data-region="blocks-right">
        <div class="header-bar-narrow">
            <a href="{% url 'alltasks' %}">&#8592; Go back</a>
        </div>
        
        <div class="main-body">
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input class="button-submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}